.text{
    color: burlywood;
}

.text2{
    color:crimson;
}

.text3{
    color:lightskyblue;
}

h1{
    color:cornflowerblue;
}

h2{
    color: olivedrab;
}

ol{
    color:plum;
}

p{
    color: pink;
}